/************************** COLOURS **************************/

$color-one: #dc001b;
$color-one-lighter:#ed001d;
$color-two:#6e1572; 
$color-two-lighter:#7c1880;
$color-three:#1cb7dd ;
$color-three-lighter:#35c3e5;
$color-four: #77c034;
$color-five: #86c112;
$color-five-lighter:#91d113;
$color-six:#ef7e08;
$color-six-lighter:#f88f21;
$color-seven: #e83d10;
$color-eight: #000;
$color-border: #e9eaeb;
$color-border-page: #1d2833;
$color-date:#a9abae;
$color-form-grey: #c7cacd;
$color-form-grey-lighter: #dbdee0;
$color-border-dropdown: #6a6e74;

$color-invision: rgba(0, 0, 0, 0.7);
$color-invision-icon: #c5c7cb;

$color-text: #172330;
$color-text-two: #a2a2a2;

$color-bg-one:#efefef;


/************************** SHADOWS **************************/ 
$shadow-nine: 0 1rem 2rem rgba(0,0,0,.9);
$shadow-eight: 0 1rem 2rem rgba(0,0,0,.8);
$shadow-seven: 0 1rem 2rem rgba(0,0,0,.7);
$shadow-six: 0 1rem 2rem rgba(0,0,0,.6);
$shadow-five: 0 1rem 2rem rgba(0,0,0,.5);
$shadow-four: 0 1rem 2rem rgba(0,0,0,.4);
$shadow-three: 0 1rem 2rem rgba(0,0,0,.3);
$shadow-two: 0 1rem 2rem rgba(0,0,0,.2);
$shadow-one: 0 1rem 2rem rgba(0,0,0,.1);
$shadow-pic: 1.3rem 1.3rem 8.8rem -3rem rgba(0,0,0,0.6);
$shadow-card: 2rem 2.5rem 5rem -3rem rgba(0,0,0,0.5);
$shadow-card-lighter: 2rem 3.5rem 4rem -4rem rgba(0,0,0,0.3);


   
/************************** RESPONSIVE BREAKPOINTS **************************/ 
$bp-xlarge: 85em;
$bp-largest: 75em;   
$bp-large: 70em;   
$bp-medium: 55em;    
$bp-small: 37.5em;    




