.newsletter{
    grid-column: center-start / center-end;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-medium) {
        transform: scale(.7);
    }
    
    & h5 {
        z-index: 55;
        transform: translateX(11rem);
        @media only screen and (max-width: $bp-medium) {
                
            transform: translateX(0rem);
        }
    }
    
    &__contentBox{
        z-index: 54;
        display: flex;
        flex-wrap: wrap;
        transform: translateX(11rem);

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            align-items: center;
            transform: translateX(0rem);
        }
        
        & input {
            height: 5rem;
            width: 40rem;
            padding: 1rem;
            margin: .5rem .5rem .5rem 0;
            border:none;
            


            &:nth-child(2n) {
                margin: .5rem .5rem .5rem .5rem;
            }

            &::-moz-placeholder {
                color: $color-text;
                opacity: 1;
            }
            &::-webkit-input-placeholder {
                color: $color-text;
            }
        }
    }

    &__bg {

        &:hover &-grey{
            clip-path: polygon(10% 0, 88% 15%, 100% 100%, 0 100%);
            transition: all .5s;
        }
        &:hover &-color {
            clip-path: polygon(0 20%, 100% 0, 90% 100%, 0 100%);
            transition: all .5s;
        }

        &-grey{
            transition: all .5s;
            z-index: 52;
            position: absolute;
            top: -5rem;
            left: 0rem;
            width: 108rem;
            height: 35rem;
            clip-path: polygon(10% 0, 88% 10%, 100% 100%, 0 85%);
            background-image: linear-gradient($color-bg-one, $color-bg-one);
            background-color: transparent;
            @media only screen and (max-width: $bp-medium) {
                top: -3rem;
                left: 0rem;
                width: 60rem;
                height: 50rem;
            }
        }

        &-color{
            transition: all .5s;
            z-index: 51;
            position: absolute;
            top: -5rem;
            left: 40rem;
            height: 16rem;
            width: 60rem;
            clip-path: polygon(0 20%, 95% 0, 100% 100%, 0 100%);
            background-image: linear-gradient($color-one, $color-one);
            background-color: transparent;
            @media only screen and (max-width: $bp-medium) {
                top: -3rem;
                left: 4rem;
                height: 16rem;
                width: 50rem;
            }
        }
    }
}
