/************************** COLOURS **************************/
/************************** SHADOWS **************************/
/************************** RESPONSIVE BREAKPOINTS **************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

.break {
  grid-column: full-start / full-end;
  height: 3vh; }

.nav-1 {
  background-image: linear-gradient(rgba(164, 133, 116, 0), rgba(0, 0, 0, 0.95)), url(../../vendor/img/paper2.png);
  z-index: 9999; }

.first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(5, 4, 3, 0.6)), url(../../vendor/img/hip-square.png); }

.second {
  background-image: linear-gradient(rgba(5, 4, 3, 0.6), rgba(87, 68, 57, 0.3)), url(../../vendor/img/hip-square.png); }

.third {
  background-image: linear-gradient(rgba(87, 68, 57, 0.3), rgba(164, 133, 116, 0)), url(../../vendor/img/hip-square.png); }

.fourth {
  background-image: linear-gradient(rgba(164, 133, 116, 0), rgba(87, 68, 57, 0.3)), url(../../vendor/img/hip-square.png); }

.fifth {
  background-image: linear-gradient(rgba(87, 68, 57, 0.3), rgba(5, 4, 3, 0.5)), url(../../vendor/img/hip-square.png); }

.sixth {
  background-image: linear-gradient(rgba(5, 4, 3, 0.5), rgba(0, 0, 0, 0.95)), url(../../vendor/img/hip-square.png); }

.seventh {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(5, 4, 3, 0.6)), url(../../vendor/img/paper2.png); }

.eighth {
  background-image: linear-gradient(rgba(5, 4, 3, 0.6), rgba(87, 68, 57, 0.3)), url(../../vendor/img/paper2.png); }

.ninth {
  background-image: linear-gradient(rgba(87, 68, 57, 0.3), rgba(164, 133, 116, 0)), url(../../vendor/img/paper2.png); }

.container {
  display: grid;
  grid-template-rows: 7rem 3vh calc(100vh - 7rem - 3vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-image: url(../../vendor/img/paper2.png); }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 9rem 3vh calc(100vh - 9rem - 3vh); } }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 7rem 3vh calc(100vh - 7rem - 3vh); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #cfcfcf; }

.heading-1 {
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  justify-self: center; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 2rem; } }

.heading-2 {
  font-style: italic;
  font-size: 2rem;
  color: #8D8C40; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 1.5rem; } }

.heading-3 {
  color: #8D8C40;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.heading-4 {
  color: #0E1F23;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.heading-5 {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #0E1F23, #3E3E27);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 75em) {
    .heading-5 {
      font-size: 6rem; } }
  @media only screen and (max-width: 50em) {
    .heading-5 {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-5 {
      font-size: 3rem; } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  50% {
    transform: scale(0.9);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
  100% {
    transform: scale(1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); } }

@keyframes flash {
  0% {
    transform: scale(1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  50% {
    transform: scale(0.3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9); }
  100% {
    transform: scale(1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); } }

.u-transform {
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-normal {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  border: none;
  font-size: 2rem;
  background-image: linear-gradient(to right, #0E1F23, #3E3E27);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  z-index: 1;
  transition: all .5s; }
  @media only screen and (max-width: 62.5em) {
    .btn {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.3rem; } }
  .btn:hover {
    transform: scale(1.1);
    transition: all .5s; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }
  .card__front {
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transition: all 1s ease; }
  .card__back {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 1s ease; }

.line {
  color: #0E1F23;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center; }
  .line::before, .line::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }

.popup {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(195, 206, 212, 0.2);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .popup__content {
    width: 20%;
    padding: 2rem;
    background-image: url(../../vendor/img/paper2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 9999;
    position: relative;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 62.5em) {
      .popup__content {
        padding: 1rem; } }
    .popup__content--text {
      font-size: 1.2rem;
      padding: 1rem;
      color: #8D8C40;
      text-transform: uppercase;
      letter-spacing: .3rem; }
      @media only screen and (max-width: 62.5em) {
        .popup__content--text {
          padding: .5rem;
          font-size: 1rem; } }
      @media only screen and (max-width: 37.5em) {
        .popup__content--text {
          font-size: .6rem; } }
  .popup__input {
    margin-right: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .popup__input {
        font-size: 1rem; } }
  .popup__passwordOutput {
    text-align: center;
    margin-top: 1rem; }
  .popup__hint {
    padding: .2rem;
    color: #3E3E27; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #0E1F23;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    transform: scale(1.1); }

.scraps {
  background-image: url(../../vendor/img/hip-square.png);
  grid-column: full-start / full-end; }
  .scraps__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 40rem));
    justify-content: center;
    grid-gap: 5rem;
    padding: 5rem; }
  .scraps__card:hover .scraps__card--front {
    transform: rotateY(-180deg);
    transition: all 1s ease; }
  .scraps__card:hover .scraps__card--back {
    transform: rotateY(0);
    transition: all 1s ease; }
  .scraps__card--front {
    background-image: url(../../vendor/img/paper2.png);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 5rem));
    grid-template-rows: repeat(3, minmax(min-content, 10rem));
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .scraps__card--front {
        grid-gap: 1rem; } }
    @media only screen and (max-width: 50em) {
      .scraps__card--front {
        padding: .5rem;
        grid-gap: .5rem; } }
    .scraps__card--front-img {
      transform: translateY(1rem); }
    .scraps__card--front-container {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: grid;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: repeat(2, max-content);
      margin: 0 auto; }
      .scraps__card--front-container-underline {
        grid-row: 2 /3;
        grid-column: 1 / 2; }
      .scraps__card--front-container-title {
        grid-row: 1 /2;
        grid-column: 1 / 2; }
    .scraps__card--front-icon {
      width: 6rem;
      height: 6rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      fill: #0E1F23;
      margin: 0 auto; }
      @media only screen and (max-width: 50em) {
        .scraps__card--front-icon {
          width: 4rem;
          height: 4rem; } }
    .scraps__card--front-explain {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      color: #3E3E27;
      font-size: 1.5rem;
      font-style: italic; }
  .scraps__card--back {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center; }
    .scraps__card--back-explain {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      padding: 2rem;
      z-index: 5;
      color: #C3CED4;
      font-size: 1.5rem; }
      .scraps__card--back-explain-btn {
        background-image: linear-gradient(to right, #C3CED4, #8D8C40);
        border-radius: 3px; }
    .scraps__card--back-img {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      height: 36rem;
      width: 40rem;
      object-fit: cover;
      border-radius: 3px;
      filter: blur(1.5px) brightness(50%); }

.bulb {
  transform: translateY(-89%); }

.scrap {
  background-image: url(../../vendor/img/hip-square.png);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, minmax(30rem, 0.7fr)) repeat(2, 1fr);
  padding: 5rem;
  justify-items: center;
  /*Top Box */
  /* Bottom Box */ }
  @media only screen and (max-width: 75em) {
    .scrap {
      grid-template-columns: repeat(2, 1fr) repeat(2, minmax(22rem, 0.7fr)) repeat(2, 1fr); } }
  .scrap__line {
    justify-self: stretch; }
  .scrap__container {
    grid-column: 3 / 5;
    background-image: url(../../vendor/img/paper2.png);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 2rem;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem; }
  .scrap__img {
    height: 12rem;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all .5s;
    border: 2px dashed #0E1F23; }
    .scrap__img:hover {
      filter: blur(3px) brightness(80%);
      transition: all .5s; }
    .scrap__img:hover + .scrap__cap {
      opacity: 1;
      transition: all .5s; }
  .scrap__cap {
    text-transform: uppercase;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    color: #0E1F23;
    opacity: 0;
    z-index: 10;
    transition: all .5s;
    pointer-events: none; }
  .scrap__p {
    font-size: 1.5rem;
    color: #3E3E27;
    text-align: justify; }
  .scrap__btn {
    justify-self: end; }
  .scrap__explain {
    color: #3E3E27;
    font-size: 2rem;
    font-style: italic;
    transition: all .2s; }
    .scrap__explain:hover {
      transform: scale(1.1) skew(15deg);
      transition: all .2s; }

.bottom-box__img {
  transform: translateY(1rem); }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../vendor/img/hero-min.jpg);
  background-size: cover;
  background-position: center;
  z-index: 9998;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-gap: 2rem;
  justify-content: center; }
  .header__scrapper {
    width: 100rem;
    height: auto;
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .header__scrapper {
        width: 80rem; } }
    @media only screen and (max-width: 50em) {
      .header__scrapper {
        width: 60rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__scrapper {
        width: 40rem; } }

.nav {
  grid-column: center-start / center-end;
  z-index: 9998; }
  .nav__box {
    display: flex;
    justify-content: space-around;
    list-style: none;
    transform: translateY(-2rem); }
    @media only screen and (max-width: 75em) {
      .nav__box {
        transform: translateY(-1rem); } }
    .nav__box--item {
      text-decoration: none;
      position: relative; }
      .nav__box--item:link, .nav__box--item:visited {
        color: #8D8C40;
        font-size: 1.5rem;
        padding: 1rem;
        border-bottom: 1px solid #0E1F23 transparent;
        transition: all .5s; }
        .nav__box--item:link:hover, .nav__box--item:visited:hover {
          border-bottom: 1px solid #0E1F23;
          color: #0E1F23;
          transition: all .5s; }
        .nav__box--item:link:hover .nav__box--item-img-blue, .nav__box--item:visited:hover .nav__box--item-img-blue {
          opacity: 1;
          transition: all .3s; }
          @media only screen and (max-width: 62.5em) {
            .nav__box--item:link:hover .nav__box--item-img-blue, .nav__box--item:visited:hover .nav__box--item-img-blue {
              height: 3rem;
              width: auto; } }
        .nav__box--item:link:hover .nav__box--item-img, .nav__box--item:visited:hover .nav__box--item-img {
          opacity: 0;
          transition: all .3s; }
          @media only screen and (max-width: 62.5em) {
            .nav__box--item:link:hover .nav__box--item-img, .nav__box--item:visited:hover .nav__box--item-img {
              height: 3rem;
              width: auto; } }
      .nav__box--item-img {
        transform: translateY(1rem);
        transition: all .3s;
        opacity: 1; }
        @media only screen and (max-width: 62.5em) {
          .nav__box--item-img {
            height: 3rem;
            width: auto; } }
        .nav__box--item-img-blue {
          position: absolute;
          opacity: 0; }
          .nav__box--item-img-blue-S {
            top: -.7rem;
            left: .9rem; }
          .nav__box--item-img-blue-P {
            top: -.5rem;
            left: 1rem; }
          .nav__box--item-img-blue-B {
            top: -.5rem;
            left: 1rem; }
          .nav__box--item-img-blue-C {
            top: -.5rem;
            left: 1rem; }

.sidenav {
  position: fixed;
  top: calc(50% - 18rem);
  right: -15rem;
  background-image: url(../../vendor/img/paper2.png);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 3px;
  transition: all .5s;
  z-index: 9997; }
  @media only screen and (max-width: 37.5em) {
    .sidenav {
      padding: .2rem;
      top: calc(50% - 14rem); } }
  .sidenav:hover {
    right: 1rem;
    transition: all .5s; }
  .sidenav__show {
    background-image: url(../../vendor/img/paper2.png);
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 16rem;
    left: -7rem;
    fill: #0E1F23; }
    @media only screen and (max-width: 62.5em) {
      .sidenav__show {
        height: 5rem;
        width: 5rem; } }
    @media only screen and (max-width: 50em) {
      .sidenav__show {
        height: 4rem;
        width: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .sidenav__show {
        left: -8rem; } }
  .sidenav__box {
    list-style: none;
    transition: right 1s;
    position: relative; }
    .sidenav__box > * {
      padding: 1rem; }
      @media only screen and (max-width: 62.5em) {
        .sidenav__box > * {
          padding: .5rem; } }
    .sidenav__box--return {
      transform: translate(3.8rem, 0.31rem);
      height: 5rem;
      width: 5rem;
      fill: #8D8C40;
      opacity: 1;
      z-index: 200;
      transition: all .5s; }
      @media only screen and (max-width: 62.5em) {
        .sidenav__box--return {
          height: 4rem;
          width: 4rem;
          transform: translate(3.8rem, 0.5rem); } }
      .sidenav__box--return:hover {
        opacity: 0;
        transition: all .5s; }
    .sidenav__box--bluereturn {
      position: absolute;
      top: 31rem;
      left: 4.8rem;
      height: 5rem;
      width: 5rem;
      fill: #0E1F23; }
      @media only screen and (max-width: 75em) {
        .sidenav__box--bluereturn {
          top: 34.9rem; } }
      @media only screen and (max-width: 62.5em) {
        .sidenav__box--bluereturn {
          height: 4rem;
          width: 4rem;
          top: 23.8rem; } }
      @media only screen and (max-width: 37.5em) {
        .sidenav__box--bluereturn {
          top: 23rem;
          left: 4rem; } }

.projects {
  background-image: url(../../vendor/img/hip-square.png);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(12, minmax(max-content, 1fr));
  grid-template-rows: 0.5fr repeat(4, minmax(max-content, 0.5fr));
  padding: 3rem;
  grid-gap: 3rem; }
  .projects__title {
    grid-column: 1 / 13;
    grid-row: 1 / 2; }
  .projects__item--1 {
    grid-column: 1 /  4;
    grid-row: 2 / 4; }
  .projects__item--2 {
    grid-column: 4 /  10;
    grid-row: 2 / 5; }
  .projects__item--3 {
    grid-column: 10 / 13;
    grid-row: 2 / 4; }
  .projects__item--4 {
    grid-column: 1 / 4;
    grid-row: 4 / 6; }
  .projects__item--5 {
    grid-column: 4 / 10;
    grid-row: 5 / 6; }
  .projects__item--6 {
    grid-column: 10 / 13;
    grid-row: 4 / 6; }
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    filter: blur(1px) brightness(30%);
    transition: all .5s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .projects__img:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
      filter: none;
      transform: scale(0.95);
      z-index: 3;
      transition: all .5s; }
  .projects__text {
    z-index: 10;
    color: #a48574;
    font-size: 1rem;
    padding: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    justify-self: start;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .projects__text {
        font-size: .8rem; } }
    .projects__text--icon {
      height: 5rem;
      width: 5rem;
      fill: #a48574; }
      @media only screen and (max-width: 37.5em) {
        .projects__text--icon {
          height: 3rem;
          width: 3rem; } }
    .projects__text--1 {
      grid-column: 1 /  4;
      grid-row: 2 / 4; }
    .projects__text--2 {
      grid-column: 4 /  10;
      grid-row: 2 / 5; }
    .projects__text--3 {
      grid-column: 10 / 13;
      grid-row: 2 / 4; }
    .projects__text--4 {
      grid-column: 1 / 4;
      grid-row: 4 / 6; }
    .projects__text--5 {
      grid-column: 4 / 10;
      grid-row: 5 / 6; }
    .projects__text--6 {
      grid-column: 10 / 13;
      grid-row: 4 / 6; }

.footer {
  grid-column: col-start 3 / col-start 7; }
  .footer__git {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem; }
    .footer__git--icon {
      height: 4rem;
      width: 4rem;
      fill: #0E1F23; }
  .footer__foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0E1F23;
    font-size: 1.2rem;
    margin-bottom: 1rem; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, max-content));
  justify-content: center;
  grid-gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #8D8C40; }
  @media only screen and (max-width: 62.5em) {
    .contact {
      grid-gap: .5rem;
      padding: .5rem;
      font-size: 1.3rem; } }
  .contact__btn {
    justify-self: center;
    grid-column: 1 / -1; }

.game {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4), black), url(../../vendor/img/game-min.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1.1fr 40% 1fr;
  grid-template-rows: 100vh;
  position: relative; }
  .game__btn:focus {
    animation: none; }
  @media only screen and (max-width: 37.5em) {
    .game__btn {
      font-size: 1.1rem; } }
  .game__ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s; }
    .game__ctrl--start {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #C3CED4;
      border-radius: 4rem;
      height: 6rem;
      width: 14rem;
      text-transform: uppercase;
      border: 2px dashed #0E1F23;
      transition: all .5s;
      margin: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .game__ctrl--start {
          height: 5rem;
          width: 11rem; } }
      @media only screen and (max-width: 37.5em) {
        .game__ctrl--start {
          height: 3rem;
          width: 7rem; } }
      .game__ctrl--start:hover {
        background-color: #556b76;
        transition: all .5s; }
  .game__box {
    display: grid;
    grid-template-rows: 1fr repeat(4, minmax(min-content, max-content)) 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    transform: translate(0.5rem, 2.9rem); }
    @media only screen and (max-width: 75em) {
      .game__box {
        transform: translate(0.5rem, 1.9rem); } }
    @media only screen and (max-width: 37.5em) {
      .game__box {
        transform: translate(0.5rem, 1.1rem); } }
  .game__time {
    display: flex;
    justify-content: center;
    align-items: center; }
    .game__time--num {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #C3CED4;
      border-radius: 4rem;
      height: 6rem;
      width: 14rem;
      text-transform: uppercase;
      border: 2px dashed #0E1F23;
      color: #0E1F23;
      font-size: 2rem;
      transition: all .5s;
      cursor: pointer; }
      @media only screen and (max-width: 62.5em) {
        .game__time--num {
          height: 5rem;
          width: 11rem; } }
      @media only screen and (max-width: 37.5em) {
        .game__time--num {
          height: 3rem;
          width: 7rem; } }
      @media only screen and (max-width: 50em) {
        .game__time--num {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .game__time--num {
          font-size: 1rem; } }
      .game__time--num-flash {
        animation: pulsate 1s infinite;
        transition: all .5s; }
      .game__time--num:hover {
        background-color: #556b76;
        transition: all .5s; }
  .game__card {
    transition: all 1s;
    opacity: 1;
    visibility: visible;
    filter: brightness(10%); }
    .game__card--flash {
      animation: flash linear .4s; }
    .game__card:hover {
      transform: scale(1.05);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transition: all .5s; }
    .game__card:hover .game__card--front-img {
      filter: none;
      transition: all .5s; }
    .game__card--front {
      background: radial-gradient(#C3CED4, #556b76);
      transition: all 1s;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      box-shadow: none;
      cursor: pointer; }
      .game__card--front-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        filter: invert(5%);
        transition: all 1s; }
    .game__card--back {
      height: 100%;
      width: 100%;
      box-shadow: none;
      transition: all 1s; }
      .game__card--back-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 1s;
        border-radius: 3px; }
    .game__card-1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .game__card-2 {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .game__card-3 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .game__card-4 {
      grid-row: 2 / 3;
      grid-column: 4 / 5; }
    .game__card-5 {
      grid-row: 2 / 3;
      grid-column: 5 / 6; }
    .game__card-6 {
      grid-row: 3 / 4;
      grid-column: 1 / 2; }
    .game__card-7 {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .game__card-8 {
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
    .game__card-9 {
      grid-row: 3 / 4;
      grid-column: 4 / 5; }
    .game__card-10 {
      grid-row: 3 / 4;
      grid-column: 5 / 6; }
    .game__card-11 {
      grid-row: 4 / 5;
      grid-column: 1 / 2; }
    .game__card-12 {
      grid-row: 4 / 5;
      grid-column: 2 / 3; }
    .game__card-13 {
      grid-row: 4 / 5;
      grid-column: 3 / 4; }
    .game__card-14 {
      grid-row: 4 / 5;
      grid-column: 4 / 5; }
    .game__card-15 {
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
    .game__card-16 {
      grid-row: 5 / 6;
      grid-column: 1 / 2; }
    .game__card-17 {
      grid-row: 5 / 6;
      grid-column: 2 / 3; }
    .game__card-18 {
      grid-row: 5 / 6;
      grid-column: 3 / 4; }
    .game__card-19 {
      grid-row: 5 / 6;
      grid-column: 4 / 5; }
    .game__card-20 {
      grid-row: 5 / 6;
      grid-column: 5 / 6; }
